@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  border: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --color-white: #fff;
  --color-purple: #6617e6b4;
  --color-bgch: #fbdfdb;
  --color-hover: #58e999be;
  --color-bgc: #131212;
  --color-footer: #eeeeee;
}

body {
  font-family: "Roboto", sans-serif;
  /* position: relative; */

}

header {
  margin-top: 36px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  max-width: 940px;
  margin: 36px auto;
}

header img {
  margin-right: 122px;
}

header a {
  color: #111111;
  margin: 0 30px;
  font-size: 16px;
  line-height: 26px;
}

html,
body {
  min-height: 100vh;
  position: relative;
}


main {
  max-width: 940px;
  margin: 0 auto;
  
}

#recipes {
  font-weight: bold;
}

.recipes {
  margin-bottom: 50px;
}

.cards {
  max-width: 940px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  /* margin-bottom: 50px; */

}

.card {
  /* max-width: 300px; */
  width: 300px;
  border-radius: 16px;
  padding: 16px;
  cursor: pointer;
}

.card__image img {
  width: 100%;
  border-radius: 16px;
}

.card__content {
  color: #111111;
  font-size: 18px;
  line-height: 28px;
}

.card__info p {
  color: #777777;
  font-size: 14px;
  line-height: 24px;
}

footer {
  display: flex;
  flex-direction: column;
}

#rodape {
  position: absolute;
  bottom: 1;
  background: var(--color-footer);
  width: 100vw;
  padding: 20px;
  text-align: center;
  color: #999999;
  /* margin-top: 50px; */
}

/* == modal ==  */

.modal-overlay {
  background-color:  rgba(0, 0, 0, 0.7);
  width: 100% ;
  height: 100%;
  top: 0;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  display: flex;
}

.modal {
  background-color: var(--color-white);
  width: 660px;
  height: 413px;
  margin:  auto;
  border-radius: 16px;
}

.modal-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 20px;
}

.modal-image img {
  /* position: relative; */
  width: 600px;
  height: 200px;
  border-radius: 16px;
}

.modal-title {
  font-size: 24px;
  color: #111111;
  margin-top: 20px;
}

.modal-info {
  font-size: 18px;
  /* line-height: 28px; */
  margin-top: 5px;
  color: #777777;
}

.modal-close {
  font-size: 16px;
  color: #999999;
  margin-top: 60px;
  margin-bottom: 30px;
  cursor: pointer;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

